html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

header{
    margin: 0;
    padding: 0;
}
main{
    background: rgba(0,0,0,0);
}



nav, li, header, ul{
    background: rgba(0,0,0,0) !important;
}


nav{
    padding: 0;
    margin-bottom: 5px;

}
ul{
    width: 100% !important;
    height: 100% !important;

}
a.nav-content{
    color: #ff3333 !important;
    display: inline-block !important;
    text-align: center !important;
    font-family: 'Josefin Sans', sans-serif;


}
.btns:hover{
    color: #ffffff !important;
    background-color: #ff3333;
    border-style: solid;
    border-color: #ff3333;
    border-width: 3px;

}

a.nav-content:hover {
    color: rgba(94, 77, 87, 1) !important;

}

li{
    width: 10%;
    height: 100%;
}
@media screen and (min-width: 1600px) and (max-width: 9000px){
    a.nav-content{
        font-size: 1.7em !important;

    }
    a.btns{
        font-size: 1.7em !important;
    }

    .titre{
        font-size: 3.5em;
        margin-top: -140px;
        margin-left: 150px;
    }
    .point-fort{
        font-size: 3em;
    }

   }


@media screen and (min-width: 1239px) and (max-width: 1599px){
    a.nav-content{
        font-size: 1.2em !important;

    }
    a.btns{
        font-size: 1.2em !important;
    }

    .titre{
        font-size: 2.7em;
        margin-top: -140px;
        margin-left: 140px;
    }
    .point-fort{
        font-size: 2.5em;
    }
    i.material-icons.icb{
        font-size: 1.1em !important;
    }
}
@media screen and (min-width: 600px) and (max-width: 1238px){
    a.nav-content{
        font-size: 1em !important;

    }
    a.btns{
        font-size: 1em !important;
    }

    .titre{
        font-size: 2em;
        margin-top: -90px;
        margin-left: 125px;

    }
    .point-fort{
        font-size: 1em;
    }
    i.material-icons.icb{
        font-size: 0.9em !important;
    }
    .points-fort{
        font-size: 1em !important;
    }
    .points-fort.small{
        font-size: 0.5em !important;
        max-height: 150px !important;
    }
}
@media screen and (min-width: 0px) and (max-width:1250px) {
    li{
        width: unset;
    }

}
.material-icons{
    user-select: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.navbar-toggler-icon{
    color: #2e3133 !important;
    display: block;
}
.grey{
    color: #2e3133 !important;
}