html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}
*{
    outline: 0;
}
header{
    margin: 0;
    padding: 0;
}
main{
    background: rgba(0,0,0,0);
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}

nav, li, header, ul{
    background: rgba(0,0,0,0) !important;
}

ul{
    width: 100% !important;
    height: 100% !important;

}
.loader{
    background: url('../media/img/2.gif')50% 50% no-repeat #ffffff;
    position : fixed;
    z-index: 9999;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;

}
a.nav-content{
    color: #ff3333 !important;
    display: inline-block !important;
    text-align: center !important;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3%;


}
.btns
{
    text-decoration: none;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ff3333;
    border-width: 3px;
    text-align: center !important;
    transition: all 0.5s;
    cursor: pointer;
    width: 80px !important;
    color: #ff3333 !important;
    display: inline-block !important;
    font-family: 'Josefin Sans', sans-serif;


}
.btns:hover{
    color: #ffffff !important;
    background-color: #ff3333;
    border-style: solid;
    border-color: #ff3333;
    border-width: 3px;

}

a.nav-content:hover {
    opacity: 0.7;

}

li{
    width: 10%;
    height: 100%;
}
.pt{
    font-size: 2em;
    margin-top: -10%;
    margin-left: 35%;
    z-index: 99;
}
.titre{
    margin-top: -10%;
    margin-left: 20%;
}
.mobile-main-visible{
    display: none !important;

}
.contact-main{
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.contact-main-mobile{
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;

}
@media screen and (min-width: 1600px) and (max-width: 9000px){
    a.nav-content{
        font-size: 1.7em !important;

    }
    a.btns{
        font-size: 1.7em !important;
    }

    .titre{
        font-size: 3.5em;

    }
    .pt{
        font-size: 3.5em;
        margin-top: -20%;
        margin-left: 40%;
    }
    .point-fort{
        font-size: 3em;
    }

   }


@media screen and (min-width: 1239px) and (max-width: 1599px){
    a.nav-content{
        font-size: 1.2em !important;

    }
    a.btns{
        font-size: 1.2em !important;
    }

    .titre{
        font-size: 2.7em;
        margin-top: -140px;
        margin-left: 140px;
    }
    .pt{
        font-size: 2.7em;
        margin-top: -10%;
        margin-left: 38%;
    }
    .point-fort{
        font-size: 2.5em;
    }
    i.material-icons.icb{
        font-size: 1.1em !important;
    }
}
@media screen and (min-width: 600px) and (max-width: 1238px){
    a.nav-content{
        font-size: 1em !important;

    }
    a.btns{
        font-size: 1em !important;
    }

    .titre{
        font-size: 2em;


    }
    .pt{
        font-size: 2em;
        margin-top: -10%;
        margin-left: 40%;
    }
    .point-fort{
        font-size: 1em;
    }
    i.material-icons.icb{
        font-size: 0.9em !important;
    }
    .points-fort{
        font-size: 1em !important;
    }
    .points-fort.small{
        font-size: 0.5em !important;
        max-height: 150px !important;
    }
}
@media screen and (min-width:0px) and (max-width:1200px){
    li{
        width: unset;
    }
}
@media screen  and (min-width: 751px){
    .mobile-main-visible
    {
        display: none !important;
    }
    .contact-main-mobile{
        display: none !important;
    }
}
@media screen and (min-width: 0px) and (max-width:750px) {
    li{
        width: unset;
    }
    .contact-main-mobile{
        display: -ms-flexbox !important;
        display: flex!important;
    }
    .contact-main{
        display: none !important;
    }
    .pt{
        font-size: 1em !important;
        margin-top: -10%;
        margin-left: 40%;
    }
    .navbar-brand ,.menu{
        font-size: 1em !important;
    }
    .nav-content{
        font-size: 0.7em;
    }
    i.icb{
        font-size: 0.8em!important;
    }
    .navbar-brand img{
        width: 20px !important;
        height: 20px !important;
    }
    .titre{
        font-size: 1em !important;
    }
    .point-fort{
        font-size: 0.5em;
    }
    .points-fort{
        font-size: 0.3em!important;
        margin: 5% !important;
        max-width: 50% !important;

    }
    .points-fort.small{
        font-size: 0.4em!important;
        height: auto !important;
        width: 50% !important;
    }
    .mobile-main{
        display: none !important;

    }
    .mobile-main-visible{
        display: flex !important;

    }
    #particles-js{
        height: 50% !important;
    }
    .profil-box{
        font-size: 0.8em !important;

    }
    #copyright{
        font-size: 0.3em !important;
    }
    #wedevus{
        font-size: 0.5em!important;
    }
    .top-arrow{
        margin-top: -20% !important;
        margin-left: 80% !important;
        font-size: small !important;
    }
    .justify-content-center-mobile
    {
        align-content: center !important;
    }


}
.material-icons{
    user-select: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.navbar-toggler-icon{
    color: #2e3133 !important;
    display: block;
}
.grey{
    color: #2e3133 !important;
}
.grey-bg{
    background-color: #5b5b5b !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 3px !important;
    padding-right: 3px!important;
    padding-top: 5px;
    padding-bottom: 5px;
}

