@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.devider{
    position: relative;
    width: 100%;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    z-index: 90;
    max-height: 300px;

}
.block{
    width: 100%;
    background-color: #ff3333;
    display: compact;
    position: relative;
    border: none;



}
.partenaire{
    background-color: #ffffff!important;
}
.ddown{
    transform: rotate(180deg);
}

.titre{
    position: absolute;
    color: white;
    font-family: 'Karla', sans-serif;
    text-align: center;
    transform: rotate(-11.3deg);
    pointer-events: none;
    z-index: 99;



}
.point-fort{
    color: white;
    padding-top: 50px;
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;


}
.points-fort{
    font-family: 'Raleway', sans-serif;
    color: white !important;
    position: relative;
    font-size: 2em;
    text-align: center;
    border: solid white 3px;
    margin: 35px;
    width: 30%;

    box-shadow: gray 1px 1px 15px;
}
.picon{
    font-size: 5em !important;
}
.points-fort.small{
    font-family: 'Raleway', sans-serif;
    color: white !important;
    position: relative;
    font-size: 1em;
    text-align: center;
    border: solid white 3px;
    margin: 35px;
    max-height: 300px;
    max-width: 15%;
    box-shadow: gray 1px 1px 15px;
}
#particles-js{
    width: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}

canvas{
    display:block;
    vertical-align:bottom;
}
.profil-partenaire{
    margin: 30px;
    max-width: 50%;
    max-height: 50%;
}

#copyright{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.7em;
    margin: 15px;

}
#wedevus{
    color: white;
    margin: 12px ;
    font-size: 2em;
    font-family: 'Righteous', cursive;

}
.top-arrow{
    position: absolute!important;
    color: white;
    margin-left: 85%;
    margin-top: -10%;
    cursor: pointer;
    border:none;
    z-index: 100;
}
.top-arrow:hover{
    color: #ff3333;
}
.material-icons.big{
    font-size: 7em !important;
}
.contact{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin: 25px;
    color: #ffffff;
    text-decoration: rgba(255, 145, 156, 0.59) underline;
}
.profil-box {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}
.com-logo{
    max-width: 33%;
    height: 50%;
    justify-content: end;
}
.contact-content{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin: 25px;
    color: rgba(255, 145, 156, 0.59);

}
.contact-box{
    text-align: center;
    font-size: 1.5em;


}
.con-btn{
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;

}
a.con-btn:hover{
    text-decoration: none!important;
}
#answer{
    color: #2d2d2d;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    justify-content: center;
    transform: rotate(-11.8deg);
    font-size: 2.4em;
    z-index: 99;
}


